
body{
    font-family: "Tiempos",Georgia,serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


@media(max-width:992px){
    .mobileMenu{
        position:fixed;
        top:0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: translateX(-100%);
        transition: all ease 0.25s;
    }
    .open{
        transform:translateX(0);
    }
    .social{
        display: none;
    }
   
    .col-sm-10{
        border: none;
        border-bottom: 0.001px solid grey;
        border-top-width: none;
        margin-bottom: 10px;
    }

}



.social{
    position:absolute;
    right: 1px;
    bottom: 40%;
    font-size: 25px;
}


.row, 
.card{
    margin-bottom: 20px;
    padding-right: 8px;
    border:initial;
}

.keep{
    /* margin-bottom: 10px;
    /* padding-right: 10px; */
    /* border-right: grey 2px solid;  */
}

.col-lg-3 {
    border-right: 0.001cm solid grey;
    border-top-width: inherit;
    margin-bottom: 10px;
}
.col-sm-10:nth-child(1),
.col-sm-10:nth-child(2),
.col-sm-10:nth-child(3)   {
    border-right: none;
}
  

.col-lg-3:last-child {
    border-right: none;
}


.fa-instagram:hover, .fa-facebook:hover, .fa-twitter-square:hover{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -animation:spin 1s linear infinite;
}

@-webkit-keyframes spin {100%{-webkit-transform:rotate(360deg) ;}}
@-moz-keyframes spin {100%{-moz-transform:rotate(360deg) ;}}
@-keyframes spin {100%{-webkit-transform:rotate(360deg);tranform(360deg)}}
